/* andria vanezi 123456789 */
/*root element*/
html{
    font-style : normal;
    font-variant: italic;
    font-weight: 900;
    font-size: 20px;/*only set the font-size once in the root element using px*/
    line-height: 1.25;
    font-family :Georgia, 'Times New Roman', Times, serif;
    font: 20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font : small-caps italic normal 20px/1.25 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgray;
    background-color: antiquewhite;
}   
body{

    width : 100%;
    max-width : 1200px;
    padding : 1rem;
    margin : auto;
    border : .25rem solid black;
    background-color: aliceblue;
}

h1{
    color:orange !important;
    font-size : 80px !important;
    /*rem unit relative to the font size in the root element*/
    padding : 2.5rem;
    /*em unit relative to the current font size*/
    padding : 2.5em;
}
/*element slector*/
h1{
    color:blue;
    font-size: 2.5em;
}
h1{

    color:rgb(136, 136, 214);
    font-size: 2.5em;
}
/*id selector*/
#paragraph{
    color:cadetblue;
}
/*class selector*/
.main-section{
    color:blue;
}
main, aside, header, footer{
    padding : 1rem; /*20 px */
    margin : 1rem; /*20 px*/
}
main {
    width : 58%;
    float : left;
}

aside {
    width : 28%;
    float : right;

}
footer{

    clear : both;
    padding : 2rem;
    background-image: linear-gradient(red 70%, white 80%, blue 100%);
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
#biography{
    width : 45%;
    float : left;
}
#image{
    width : 45%;
    float : right;
}
#quotes{

    clear : both;
    border: .5rem solid orangered;
    padding: 1rem;
    text-align: center;
    box-shadow: 1rem 1rem 1rem 1rem grey;
}
/*decendant selector*/
main p{
    font-variant: small-caps;
}
/*child slector*/
section > p{
    font-style: italic;
}
/*adjacent sibling selector*/
h2 + blockquote{
    font-variant: small-caps;
}
/*general sibling slector*/
h2 ~ blockquote{
    font-style: italic;
}
/*multiple sector*/
sub, sup, del, em, strong, b, i, abbr, #cite_quote{
    color: red;
}
/*Pseudo-element selector*/
a:hover{
    color:chartreuse;
}
/*attribute selector*/
abbr[title]{
    font-weight: bolder;
}
input[type=text]{

    width:50%;
}
/*6 digit hex*/
#top{
    background-color : #c38d9e;
    margin-bottom: 20px;
    text-align: center;
}
/*3 digit hex*/
main{
    background-color : #ccddee;
    background-color: #cde;
}
/*named color*/
section q{
    color:red;
   /* line-height: 2em;*/
}
.aside-section{
    background-color: rgb(242, 164, 225);
    color : hsla(80, 10%, 100%, .9);
}
form{
    background-color: rgba(242, 164, 225, 0.9);
    color : hsl(80, 10%, 100%);
}
/*user-action pseudo-classes*/
/*Links or a element*/
a:link{
    color :rgb(36, 36, 80);
    text-decoration: none;
}
a:visited{
    color: aquamarine;
}
a:hover{
    color : blueviolet;
    text-decoration: underline;
}
a:active{
    color :chartreuse;
   
}
ul{
    line-height: 1.5;
    list-style-type: none;
}
ol{
    list-style-type: upper-roman;
}
#paper{
    list-style-type: circle;
}
figure{
    border : .25rem solid black;
    padding : .25rem;
    text-align: center;
   /* width : 50%;*/
    background-color: gold;
    border-radius: 1rem;

}
img{
    border : .25rem solid black;
    padding : .25rem;
    margin : auto;
    display: block;
    border-radius: 1rem;

}
figcaption{
    background-color: #cc5599;
}
@media (max-width : 600px){
    html{
        font-size: 15px;
    }
    main{
        float : none;
        width : 90%;
    }
    aside{
        float : none;
        width : 90%;
        text-align: center;
    }
    #biography{
        float : none;
        width : 90%;
    }
    #image{
        float : none;
        width : 90%;
    }
}



      
